<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Register</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <form action="" method="POST">
        {% csrf_token %}
        User Name:<input type="text" name="username"><br/>
        first Name:<input type="text" name="first_name"><br/>
        Last Name:<input type="text" name="last_name"><br/>
        Email ID:<input type="email" name="email_id"><br/>
        Password:<input type="password" name="password"><br/>
        <input type="submit">
    </form>
    </body>
</html>